doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Shop
        link(rel="stylesheet", href="/css/app.css")
    body 
    header.header-nav 
        nav 
            ul
                li
                    a(href="/") Home 
                li
                    a(href="/admin/users") Users 
    main 
        section 
            h1 Home Page 
            p Here comes my Server of Minecraft
    footer This is an awesome footer
