doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Home - #{title}
        link(rel="stylesheet", href="/css/app.css")
    body 
    include includes/navbar.pug
    main 
        section 
            h1 #{title}
            p Listing
            if prods.length > 0
                ul
                    each prod in prods
                        li=prod.title
            else 
                p No products found
    footer This is an awesome footer
