extends layouts/layout.pug
block styles
    link(rel="stylesheet", href="/css/shop.css")
    link(rel="stylesheet", href="/css/product.css")
block content    
    main 
        if prods.length > 0
            .grid 
                each prod in prods
                    article.card.product-item
                        .card__header
                            h3.product__title=prod.title
                        .card__image 
                            img(src=prod.image)
                        .card__content 
                            h2.product__price='$ ' + prod.price
                            p.product__description=prod.description
                        .card__actions 
                            button.btn Add to Cart
        else 
            p No products found
    footer This is an awesome footer
