<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>App Test - Users</title>
</head>
<body>
    <nav><div>Logo</div><div><ul>
        <li><a href="/">Home</a></li>
        <li><a href="/users">Users</a></li>
        <li><a href="/create-user">Create User</a></li>
    </ul></div></nav>
    <main>
        <h1>List of users</h1>
        <div><ul>
            <li>Random 1</li>
            <li>Random 2</li>
            <li>Santiago Cano 🚀</li>
        </ul></div>
    </main>
</body>
</html>