<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/app.css">
    <title>Home</title>
</head>
<body>
    <header class="header-nav">
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/admin/users">Users</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section>
            <h1>Home Page</h1>
            <p>Here comes my Server of Minecraft</p>
        </section>
    </main>
    <footer>
        This is an awesome footer
    </footer>
</body>
</html>