<header class="main-header">
    <nav class="main-header__nav">
        <ul class="main-header__item-list">
            <li class="main-header__item"><a class="active" href="/">Add user</a></li>
            <li class="main-header__item"><a href="/users">View Users</a></li>
        </ul>
    </nav>
</header>